
.card-img {
  width: 150px !important;
  height: 150px;

}





nav.mb-5.navbar.navbar-expand-md.navbar-dark.bg-primary{
  background-color: #003b71 !important;
}

.App{
  position: relative;
  background-color: #d9e1ec;
  height: 100%;
  min-height: 100%
}

.feedConatiner{
  min-height: 1000px;
}
